@model MainMVC.Models.Polls.Entities.Poll
@{
    ViewData["Title"] = "Poll Create";
}

<form asp-controller="home" asp-action="CreatePoll" method="post" class="mt-3">
    <div class="form-group">
        <label>Name:</label>
        <span asp-validation-for="Name" class="text-danger"></span>
        <input asp-for="Name" class="form-control" placeholder="Name of the Poll" />
    </div>
    <div class="form-group">
        <label>Description:</label>
        <span asp-validation-for="Description" class="text-danger"></span>
        <textarea asp-for="Description" class="form-control" placeholder="Description of the Poll"></textarea>
    </div>
    <div class="form-group">
        <label>QuestionsCount:</label>
        <span asp-validation-for="QuestionsCount" class="text-danger"></span>
        <input asp-for="QuestionsCount" class="form-control" placeholder="Questions Count">
    </div>
    <div class="form-group row justify-content-center">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
