@model Poll
@{
    ViewData["Title"] = "Poll Create";
}

<div class="jumbotron p-4 mb-4">
    <form asp-controller="home" asp-action="create" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name of the Poll">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Description" class="form-control" placeholder="Description of the Poll">
                </div>
            </div>
            <div>
                <label asp-for="QuestionsCount" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="QuestionsCount" class="form-control" placeholder="Questions Count">
                </div>
            </div>*@
        @* <div class="form-group row"> *@
        @*     <label asp-for="Department" class="col-sm-2 col-form-label"></label> *@
        @*     <div class="col-sm-10"> *@
        @*         <select asp-for="Department" class="custom-select mr-sm-2" *@
        @*                 asp-items="Html.GetEnumSelectList<Dept>()"></select> *@
        @*     </div> *@
        @* </div> *@
        @* *@

        <div class="form-group row justify-content-center">
            <div class="col-2">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
