@page "/CreatePoll"
@using Data.Polls
@using Models.Polls

@inject IPollRepository PollRepository
@inject NavigationManager NavigationManager

<div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" @bind-value="NewPoll.Name" />
</div>
<div class="form-group">
    <label for="source">Source:</label>
    <input type="text" class="form-control" @bind-value="NewPoll.CreatorLogin" />
</div>
@*<div class="form-group">
        <label for="coolfactor">Cool Factor:</label>

        <InputSelect Class="form-control" id="coolfactor" @bind-Value="NewPoll.CoolFactor">
            @foreach (var f in Enum.GetValues(typeof(CoolFactor)))
            {
                <option value="@f">@f.ToString()</option>
            }
        </InputSelect>
    </div>*@
@*@foreach(var question in NewPoll.Questions)
{
    <div class="h1">@question.Text</div>
    <div class="h1">Question   ??</div>
}*@
<button class="btn btn-secondary" @onclick="NewQuestion">Add Question</button>
<button class="btn btn-primary" @onclick="ValidSubmit">Save Changes</button>
<button class="btn btn-secondary" @onclick="BackToList">Cancel</button>


@code {
    public Poll NewPoll { get; set; }

    protected override void OnInitialized()
    {
        NewPoll = new Poll();
    }

    void NewQuestion()
    {
        NewPoll.Questions.Add(new Question());
    }

    void BackToList()
    {
        NavigationManager.NavigateTo("/");
    }

    void ValidSubmit()
    {
        //DataLayer.SubmitChanges(Trophy);
        PollRepository.Add(NewPoll);
        BackToList();
    }
}
