@page "/"
@using BlazorApp.Models.Polls
@using BlazorApp.Data.Polls

@inject IPollRepository PollRepository


@foreach (var pull in Polls)
{

    <div class="card mb-2">
        <dif class="card-header">
            <div class="row  justify-content-between pl-3 pr-3">
                <h3>@pull.Name</h3>
                <p class="text-muted">@pull.CreatorLogin</p>
            </div>
        </dif>
        <div class="card-body pl-5">
            <h5 class="card-title">@pull.Description</h5>
            <p class="card-text text-center"><small class="text-muted">№@(pull.Id+1)</small></p>
            <a href=@($"/ViewPoll/{pull.Id}") class="card-link">Открыть</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
}



@code{
    public IList<Poll> Polls { get; set; }

    protected override void OnInitialized()
    {
        Polls = PollRepository.GetPolls();
    }
}
