@using MainMVC.Models.Users
@inject IUserRepository UserRepository

<ul class="navbar-nav">
    @if (UserRepository.IsLogged())
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="MyPage">Hello @UserRepository.GetCurrentUser().Login!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Auth" asp-action="Login">Login</a>
        </li>
    }
</ul>
