@page "/"
@using BlazorApp.Models.Polls
@using BlazorApp.Data.Polls

@inject IPollRepository PollRepository


@foreach (var pull in Polls)
{

    <div class="card mb-2">
        <dif class="card-header">№@pull.Id</dif>
        <div class="card-body pl-5">
            <h5 class="card-title">@pull.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">@pull.CreatorLogin</h6>
            <a href=@($"/ViewPoll/{pull.Id}") class="card-link">Открыть</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
}



@code{
    public IList<Poll> Polls { get; set; }

    protected override void OnInitialized()
    {
        Polls = PollRepository.GetPolls();
    }
}
