<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionString>
    <!--<add name="BbContext"
         connectionString="server=.; database=Test; integrated iecurity=true;"
         providerName="System.Data.SqlClient"/>-->
    <add name="BbContext" 
         connectionString="Data Source=.\MSSQSERVER;Initial Catalog=Test;Integrated Security=SSPI;" 
         providerName="System.Data.SqlClient"/>
  </connectionString>
</configuration>