@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <dif class="row">
        <dif class="col-lg-3"></dif>
        <dif class="col-lg-7">
            @*<div class="top-row px-4">
                    <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
                </div>*@

            <div class="content px-4">
                @Body
            </div>
            <dif class="col-lg-2"></dif>
        </dif>
    </dif>
</div>
