@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <Authorization />
    <dif class="row no-gutters">
        <dif class="col-lg-2"></dif>
        <dif class="col-lg-8">
            <div class="content py-4">
                @Body
            </div>
        </dif>
        <dif class="col-lg-2"></dif>
    </dif>
</div>
